.about {
  padding: 0 0 100px;

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__text {
    width: 65%;

    p.karla {
      max-width: 600px;
    }

    p.karla--bold {
      line-height: 1.4em;
      max-width: 680px;
    }

    a:not(.font--lightgrey) {
      color: #fff;
      font-weight: bold;
      transition: all .3s;

      &:hover {
        color: $red;
      }
    }

    .button {
      position: relative;
    }

    ul {
      display: inline-block;
      margin: 50px 0 0;
      vertical-align: top;

      &:last-child {
        margin-left: 100px;
      }
    }

    li.acta {
      margin-bottom: 15px;
      font-size: 18px;
    }

    li.karla {
      margin: 5px 0;
    }

    a.font--lightgrey {
      display: inline-block;
      transition: all .3s;

      &:hover {
        color: $red;
        transform: translateY(-5px);
      }
    }
  }

  &__image {
    position: relative;
    width: 30%;
    padding-bottom: 45%;
    background-image: url('../images/portrait-t.jpg');
    background-size: cover;
    background-position: center;

    &:before {
      content: '';
      position: absolute;
      top: 8px;
      left: 8px;
      width: 100%;
      height: 100%;
      background: $gradient;
      z-index: -1;
    }
  }
}

/*--------------------------------------*/

// 960px
@media screen and (max-width: $l) {
  .about {
    .container {
      flex-direction: column;
    }

    &__text {
      width: 80%;
      margin: 0 auto;

      p.karla--bold {
        margin-top: 0;
      }
    }

    &__image {
      width: 100%;
      padding-bottom: 50%;
      margin-top: 75px;
    }
  }
}

/*--------------------------------------*/

// 750px
@media screen and (max-width: $m) {
  .about {
    &__text {
      width: 100%;
    }
  }
}

/*--------------------------------------*/

// 600px
@media screen and (max-width: $s) {
  .about {
    &__text {
      p.karla {
        font-size: 16px;
      }

      p.karla--bold {
        font-size: 20px;
      }

      ul:last-child {
        margin-left: 80px;
      }
    }

    &__image {
      width: 100%;
      padding-bottom: 70%;
    }
  }
}

/*--------------------------------------*/

// 500px
@media screen and (max-width: $xxs) {
  .about {
    &__text {
      ul:last-child {
        display: block;
        margin-left: 0px;
      }
    }
  }
}
