.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: translate3d(0,0,0); // increases performance of the animation.

  &--static {
    background: url("../images/noise.png");
    animation: .5s infinite static;

  }

  &--topographic {
    background: url("../images/topographic.png");
    background-size: cover;
  }

  &__border {
    position: relative;
    bottom: 4px;
    left: 0;
    width: 100vw;
    height: 4px;
    background: $gradient;
  }
}

@keyframes static {
    0%, 100% {
        background-position: 0 0;
    }

    10% {
        background-position: -5% -10%;
    }

    20% {
        background-position: -15% 5%;
    }

    30% {
        background-position: 7% -25%;
    }

    40% {
        background-position: 20% 25%;
    }

    50% {
        background-position: -25% 10%;
    }

    60% {
        background-position: 15% 5%;
    }

    70% {
        background-position: 0% 15%;
    }

    80% {
        background-position: 25% 35%;
    }

    90% {
        background-position: -10% 10%;
    }
}

/*--------------------------------------*/

// 600px
@media screen and (max-width: $s) {
  .background {
    &--static {
      animation: none;
      opacity: .5;
    }
  }
}
