.blog-post {
  position: relative;

  .acta--title {
    padding: 80px 0 0;
  }

  &__content {
    position: relative;
    width: calc(100% - 60px);
    max-width: 860px;
    margin: 0 auto 100px;
    background: #fff;
    padding: 50px 125px 75px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);

    h2, h3 {
      @extend .karla;
      font-size: 22px;
      font-weight: 700;
      color: $black;
      margin: 30px 0 -5px;
    }

    h3 {
      font-size: 18px;
    }

    p, li {
      @extend .karla;
      font-size: 18px;
      color: $textonwhite;
    }

    li:before {
      content: '';
      position: relative;
      display: inline-block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: $gradient;
      margin-right: 10px;
      vertical-align: middle;
    }

    ul {
      margin: 18px 0;
    }

    a {
      overflow-wrap: break-word;
      color: $red;
      @extend .karla;
      font-size: 18px;
    }

    img {
      width: calc(100% + 150px);
      height: auto;
      margin: 30px 0 30px -75px;
    }

    blockquote {
      position: relative;
      @extend .karla;
      font-weight: 700;
      font-size: 20px;
      color: #fff;
      background: $gradient;
      padding: 40px;
      margin: 75px 150px 75px -250px;

      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 100%;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 125px 60px 0;
        border-color: transparent #991b47 transparent transparent;
      }
    }

    &:before {
      content: '';
      position: absolute;
      display: block;
      top: 12px;
      left: 12px;
      width: 100%;
      height: 100%;
      background: $gradient;
      z-index: -1;
    }
  }

  &__tag {
    position: relative;
    display: inline-block;
    font-family: 'Karla', sans-serif;
    font-size: 12px;
    color: #fff;
    background: $gradient;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    padding: 10px 30px;
    margin: 0 auto 30px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__meta {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0 60px;

    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      margin-right: 20px;
    }

    p.karla {
      margin: 1px 0;
    }
  }


  &__bibliography {
    width: calc(100% + 60px);
    background: #F5F5F5;
    padding: 30px;
    margin: 100px 0 0 -30px;

    h2 {
      margin: 0 0 20px;
    }

    p {
      margin-bottom: 30px;
    }

    a {
      overflow-wrap: break-word;
      color: $red;
      @extend .karla;
      font-size: 18px;
    }
  }

  &__view-more {
    padding: 0 30px 50px;
    max-width: 860px;
    margin: 0 auto;

    .acta--title {
      padding: 0 0 50px !important;
    }

    .blog__post {
      width: calc(50% - 15px);
    }

    .blog__image {
      padding-bottom: 60%;
    }

    h2.acta {
      font-size: 25px;
    }
  }
}

/*--------------------------------------*/

// 1200px
@media screen and (max-width: $xl) {
  .blog-post {
    blockquote {
      margin: 40px 0px 40px -150px;

      &:before {
        border-width: 0 25px 20px 0;
      }
    }
  }
}

/*--------------------------------------*/

// 960px
@media screen and (max-width: $l) {
  .blog-post {

    .acta--title {
      padding: 60px 0 0;
    }

    &__content {
      padding: 50px 60px 75px;

      img {
        width: calc(100% + 120px);
        margin: 30px 0 30px -60px;
      }
    }

    blockquote {
      width: calc(100% + 60px);
      font-size: 18px;
      padding: 30px;
      margin: 40px 0 40px -30px;

      &:before {
        display: none;
      }
    }
  }
}

/*--------------------------------------*/

// 600px
@media screen and (max-width: $s) {
  .blog-post {

    .acta--title {
      padding: 30px 0 0;
    }

    &__content {
      padding: 30px 30px 0;

      img {
        width: calc(100% + 60px);
        margin: 30px 0 30px -30px;
      }

      p, a {
        font-size: 16px;
      }
    }
  }
}

/*--------------------------------------*/

// 500px
@media screen and (max-width: $xs) {
  .blog-post {
    &__view-more {
      .blog__post {
        width: 100%;
      }
      .blog__list {
        flex-direction: column;
      }
    }
  }
}

/*--------------------------------------*/

// 400px
@media screen and (max-width: $xxs) {
  .blog-post {
    &__content {
      width: calc(100% - 30px);
      padding: 25px 25px 0;

      img {
        width: calc(100% + 50px);
        margin: 30px 0 30px -25px;
      }

      blockquote {
        width: 100%;
        margin: 40px 0;
      }
    }

    &__bibliography {
      width: calc(100% + 50px);
      margin: 100px 0 0 -25px;
    }
  }
}
