.blog {
  padding: 0 0 100px;

  &__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }

  &__post {
    width: calc(33.33% - 45px);
    margin-bottom: 75px;

    &:hover .blog__text h2 {
      color: $red;
    }
  }

  &__post {
    &:nth-child(3n - 1) {margin-top: 50px;} // selects every third post, starting from the second one.
    &:nth-child(3n - 0) {margin-top: 100px;} // selects every third post, starting from the third one.

    a {display: block;}
  }

  &__image {
    position: relative;
    width: 100%;
    padding-bottom: 150%;
    background-image: url('../images/portrait.jpg');
    background-size: cover;
    background-position: center;

    &:before {
      content: '';
      position: absolute;
      display: block;
      top: 8px;
      left: 8px;
      width: 100%;
      height: 100%;
      background: $gradient;
      z-index: -1;
    }
  }

  &__text {
    margin: 24px 0 0 12px;

    p.karla {
      margin: 0;
    }

    h2.acta {
      margin: 5px 0 0;
      max-width: 250px;
      transition: all .3s;
    }
  }
}

/*--------------------------------------*/

// 960px
@media screen and (max-width: $l) {
  .blog {
    &__text {
      h2.acta {
        font-size: 26px;
      }
    }
  }
}

/*--------------------------------------*/

// 750px
@media screen and (max-width: $m) {
  .blog {
    &__post {
      width: calc(50% - 25px);
      &:nth-child(even) {margin-top: 50px;}
      &:nth-child(odd) {margin-top: 0;}
    }

    &__image {
      padding-bottom: 125%;
    }
  }
}

/*--------------------------------------*/

// 500px
@media screen and (max-width: $xs) {
  .blog {
    &__post {
      width: 100%;
      margin: 0 0 50px !important;
    }

    &__image {
      padding-bottom: 70%;
    }
  }
}
