.button {
  display: inline-block;
  background: $gradient;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  letter-spacing: 0.01em;
  color: #fff;
  padding: 25px 55px;

  span, svg {
    vertical-align: middle;
  }

  &:hover svg {
    left: 10px;
  }
}
