.case-study {
  padding: 0 0 100px;

  &__intro {
    display: flex;
    max-width: 850px;
    margin: 0 auto 100px;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      min-width: 300px;
      padding-right: 50px;
      text-align: right;
    }

    p.karla {
      margin: 0 0 40px;
    }
  }

  &__images {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    img {
      width: 100%;
    }
  }
}

/*--------------------------------------*/

// 750px
@media screen and (max-width: $m) {
  .case-study {
    &__intro {
      flex-direction: column;

      ul {
        padding: 0;
        margin-bottom: 20px;
        text-align: left;
      }

      li.karla {
        font-size: 18px;
      }
    }
  }
}

/*--------------------------------------*/

// 500px
@media screen and (max-width: $xs) {
  .case-study {
    padding: 0;

    img {
      width: calc(100% + 60px);
      margin-left: -30px;
    }
  }
}
