.contact {
  padding: 0 0 100px;
  min-height: calc(100vh - 126px);

  .container {
    display: flex;
    justify-content: space-between;
  }

  &__form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60%;

    fieldset {
      position: relative;
      padding: 0;
      margin: 0;
      border: 0;
    }

    label {
      position: absolute;
      top: -10px;
      left: 20px;
      padding: 0 10px;
      background-color: #18181b;
    }

    input[type="text"], input[type="email"], textarea {
      background: transparent;
      padding: 20px;
      width: 100%;
      resize: none;
      border: none;
      border-radius: 0;
      color: #fff;
      border-top: 1px solid #4A4B4D;
      border-left: 1px solid #4A4B4D;
      border-right: 1px solid #4A4B4D;
    }

    input[type="email"] {
      border-bottom: 1px solid #4A4B4D;
    }

    input[type="submit"] {
      position: absolute;
      right: 0;
      bottom: 1px;
      padding: 23px 55px;
      border: none;
      border-radius: 0;
      cursor: pointer;
      transition: all .3s;

      &:hover {
        opacity: .8;
      }
    }
  }

  &__text {
    max-width: 370px;
    padding-left: 50px;

    ul {
      list-style: none;
      display: flex;
      padding: 0;
      margin-top: 50px;

      li {
        margin-right: 25px;
      }
    }
  }
}

/*--------------------------------------*/

// 750px
@media screen and (max-width: $m) {
  .contact {
    .container {
      flex-direction: column;
    }

    &__form {
      width: 100%;
    }

    &__text {
      padding-left: 0;
      margin-top: 50px;
    }
  }
}

/*--------------------------------------*/

// 600px
@media screen and (max-width: $s) {
  .contact {
    input[type="submit"] {
      position: relative;
    }
  }
}
