.cv {
  padding: 0 0 100px;

  .container {
    max-width: 900px;
    display: flex;
  }

  .karla.font--lightgrey {
    margin: 5px 0;
  }

  .karla.font--white {
    margin: 0px 0 15px;
  }

  &__right {
    padding-left: 50px;
  }

  &__section {
    margin-bottom: 50px;
  }
}

// style for print
@media print {
  .site-header, .site-footer {
    display: none;
  }

  .acta--title {
    padding: 50px 0;
  }
}

/*--------------------------------------*/

// 600px
@media screen and (max-width: $s) {
  .cv {
    .container {
      flex-direction: column-reverse;
    }

    &__right {
      padding-left: 0;
    }
  }
}
