* {
  box-sizing:border-box;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

::selection {
  background: #D52A73;
  color: #fff;
}

body {
  min-width:320px;
  overflow-x:hidden;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
          font-smoothing:antialiased;
  background-color: $black;
}
