// fonts
.acta {
  font-family: "acta-display", serif;
  line-height: 1.2em;
  font-weight: 700;

  &--title {
    font-size: 45px;
    color: #fff;
    text-align: center;
    padding: 80px 0 100px;
    margin: 0;
  }
}

.karla {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  letter-spacing: 0.01em;

  &--bold {
    font-weight: 700;
  }
}

a.link {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -5px;
    background: $gradient;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }

  &:hover:before {
    left: auto;
    right: 0;
    width: 0;
  }
}

/*-------------------------------*/

// font sizes
.font--50px {
  font-size: 50px;
}

.font--35px {
  font-size: 35px;
}

.font--30px {
  font-size: 30px;
}

.font--25px {
  font-size: 25px;
}

.font--20px {
  font-size: 20px;
}

.font--18px {
  font-size: 18px;
}

.font--14px {
  font-size: 14px;
}

/*-------------------------------*/

// font colours
.font--white {
  color: #fff;
}

.font--black {
  color: $black;
}

.font--lightgrey {
  color: $textonblack;
}

/*--------------------------------------*/

// 960px
@media screen and (max-width: $l) {
  .acta--title {
    padding: 60px 0 70px;
    font-size: 40px;
  }
}

/*--------------------------------------*/

// 600px
@media screen and (max-width: $s) {
  .acta--title {
    font-size: 30px;
    padding: 30px 0 50px;
  }
}
