.hero {
  position: relative;
  height: calc(100vh - 125px);
  min-height: 570px;

  &__content {
    position: absolute;
    left: 100px;
    bottom: 100px;

    h1.acta {
      position: relative;
      max-width: 750px;
      margin: 0;
    }

    p.karla {
      position: relative;
      max-width: 610px;
      margin: 20px 0 80px;
    }

    .button {
      position: relative;
      margin-right: 55px;
    }
  }

  &__socials {
    position: absolute;
    right: 100px;
    bottom: 100px;

    ul {
      list-style: none;
    }

    li {
      margin-top: 25px;
    }
  }

  &__social {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      position: relative;
    }

    &:before {
      content: '';
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      background: $gradient;
      width: 32px;
      height: 32px;
      border-radius: 100%;
      z-index: 0;
      transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    }

    &:hover:before {
      transform: translate(-50%, -50%) scale(1);
    }
  }
}

/*--------------------------------------*/

// 1200px
@media screen and (max-width: $xl) {
  .hero {
    &__content {
      left: 50px;
      bottom: 50px;

      h1.acta {
        font-size: 45px;
      }
    }

    &__socials {
      right: 50px;
      bottom: 50px;
    }
  }
}

/*--------------------------------------*/

// 750px
@media screen and (max-width: $m) {
  .hero {
    &__content {
      h1.acta {
        font-size: 35px;
        max-width: 500px;
      }

      p.karla {
        font-size: 14px;
        max-width: 400px;
      }
    }
  }
}

/*--------------------------------------*/

// 600px
@media screen and (max-width: $s) {
  .hero {
    height: calc(100vh - 95px);

    &__content {
      left: 30px;
      bottom: 120px;
      max-width: 400px;

      a.link {
        display: block;
        width: 100px;
        margin-top: 30px;
      }
    }

    &__socials {
      left: 5px;
      right: auto;
      bottom: 50px;

      li {
        display: inline-block;
        margin: 0 0 0 25px;
      }
    }
  }
}

/*--------------------------------------*/

// 500px
@media screen and (max-width: $xs) {
  .hero {
    &__content {
      max-width: 350px;

      .button {
        padding: 20px 35px;
      }

      h1.acta {
        font-size: 32px;
      }

      p.karla {
        margin: 20px 0 50px;
      }
    }
  }
}

/*--------------------------------------*/

// 400px
@media screen and (max-width: $xxs) {
  .hero {
    &__content {
      max-width: 290px;

      h1.acta {
        font-size: 26px;
      }
    }
  }
}
