.icon {
  display: inline-block;

  &--twitter {
    width: 20px;
    height: 17px;
  }

  &--dribbble, &--gitlab {
    width: 18px;
    height: 18px;
  }

  &--arrow {
    position: relative;
    left: 0;
    width: 30px;
    height: 15px;
    margin-left: 10px;
    transition: all .3s;
  }
}
