.projects {
  padding: 0 0 100px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }

  &__item {
    position: relative;
    display: inline-block;
    width: calc(50% - 20px);
    height: 300px;
    margin-bottom: 30px;

    &:nth-child(even) {
      margin-top: 50px;
    }

    &:before {
      content: '';
      position: absolute;
      display: block;
      top: 8px;
      left: 8px;
      width: 100%;
      height: 100%;
      background: $gradient;
      z-index: -1;
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: all .2s;

    &:hover {
      transform: translate(4px, 4px);
    }

    &--ollytandon {
      background-image: url('../images/projects/ollytandon.jpg');
    }

    &--discover {
      background-image: url('../images/projects/discover.jpg');
    }

    &--willbrooks {
      background-image: url('../images/projects/willbrooks.jpg');
    }

    &--brookdale {
      background-image: url('../images/projects/brookdale.jpg');
    }

    &--shufflewoods {
      background-image: url('../images/projects/shufflewoods.jpg');
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, transparent 100%);
  }

  &__text {
    position: absolute;
    left: 30px;
    bottom: 30px;
    right: 30px;

    h2 {
      margin: 0;
    }

    p {
      margin: 5px 0 0;
      opacity: .8;
    }
  }
}

/*--------------------------------------*/

// 1080px
@media screen and (max-width: $xl) {
  .projects {
    &__item {
      width: calc(50% - 20px);
    }
  }
}

/*--------------------------------------*/

// 750px
@media screen and (max-width: $m) {
  .projects {
    &__item {
      width: 100%;
      height: 250px;
      &:nth-child(even) {
        margin-top: 0;
      }
    }
  }
}
