.site-footer {
  background: $black;
  margin-top: -8px;

  &__top {
    padding: 50px 0 80px;
    text-align: center;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    margin: 0 100px;
    border-top: 1px solid $border;

    li {
      display: inline-block;
      margin-left: 35px;
    }

    a {
      display: inline-block;
      transition: all .3s;

      &:hover {
        color: $red;
        transform: translateY(-5px);
      }
    }

    .karla {
      margin: 0;
    }
  }
}

/*--------------------------------------*/

// 1080px
@media screen and (max-width: $xl) {
  .site-footer {
    &__bottom {
      margin: 0 30px;
    }
  }
}

/*--------------------------------------*/

// 500px
@media screen and (max-width: $xs) {
  .site-footer {

    &__top {
      padding: 30px 0 50px;

      a.acta {
        font-size: 24px;
      }
    }

    &__bottom {
      flex-direction: column-reverse;
      align-items: center;
      padding: 20px 0;

      li {
        margin: 0 15px 20px;
      }
    }
  }
}
