.site-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 100px;
  padding: 0 0;
  border-bottom: 1px solid $border;
  z-index: 9;

  &__logo {
    position: relative;
    text-align: center;
    height: 55px;
    width: 55px;
    line-height: 52px;
    z-index: 99;
    font-size: 30px;
    border: 2px solid white;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: $gradient;
      z-index: -1;
      opacity: 0;
      transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover:before {
      opacity: 1;
    }
  }

  &__nav-list {
    display: flex;
    list-style: none;
    margin: 0;
  }

  &__item {
    margin-left: 40px;
  }

  &__link {
    display: inline-block;
    height: 125px;
    line-height: 125px;
    transition: all .3s;

    &:hover:not(.active) {
      color: #fff;
      transform: translateY(-5px);
    }

    &.active {
      color: #fff;
      font-weight: 700;
    }

    &.active:after {
      content: '';
      position: relative;
      display: block;
      width: 100%;
      height: 3px;
      bottom: 3px;
      background: $gradient;
    }
  }

  &__nav-btn-wrapper {
    display: none;
  }

  &__nav-bg {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: $gradient;
    z-index: 9;
    transition: all .5s;
    visibility: hidden;

    &.open {
      transform: scale(20);
    }
  }

  &__nav-btn {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 65px;
    height: 65px;
    z-index: 9;
    visibility: hidden;
  }

  &__nav-icon {
    position: absolute;
    display: block;
    width: 18px;
    height: 2px;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &:before, &:after {
      content: '';
      position: relative;
      display: block;
      height: 2px;
      background: #fff;
      transition: top 0.3s 0.3s ease, -webkit-transform 0.3s ease, transform 0.3s ease, width 0.2s ease;
    }

    &:before {
      top: -6px;
      width: 22px;
    }

    &:after {
      top: 4px;
      width: 14px;
    }
  }

  &__nav-icon.open {
    height: 0;

    &:before {
      top: 0;
      transform: rotate(-45deg);
      transition: top 0.3s ease, -webkit-transform 0.3s 0.3s ease, transform 0.3s 0.3s ease;
    }

    &:after {
      top: -2px;
      width: 22px;
      transform: rotate(45deg);
      transition: top 0.3s ease, -webkit-transform 0.3s 0.3s ease, transform 0.3s 0.3s ease, width 0.2s;
    }
  }
}

/*--------------------------------------*/

// 1080px
@media screen and (max-width: $xl) {
  .site-header {
    margin: 0 30px;
  }
}

/*--------------------------------------*/

// 600px
@media screen and (max-width: $s) {
  .site-header {
    padding: 30px;
    margin: 0;
    border-bottom: 0;

    &__logo {
      padding: 0;

      &:before {
        display: none;
      }
    }

    &__item {
      position: relative;
      margin-left: 0;
      opacity: 0;
      transform: translateY(70px);
      transition: all .2s;
    }

    &__link {
      font-family: "acta-display", serif;
      font-weight: 700;
      color: #fff;
      height: 70px;
      line-height: 70px;
      font-size: 40px;

      &.active {
        color: #b11455;

        &:after {display: none;}
        &:before {
          content: '';
          display: inline-block;
          height: 4px;
          width: 35px;
          margin-right: 20px;
          border-radius: 1px;
          background: #b11455;
          vertical-align: middle;
        }
      }
    }

    &__nav {
      position: fixed;
      left: 50px;
      bottom: 50px;
      visibility: hidden;
      z-index: 99;

      &.open {
        visibility: visible;

        .site-header__item {
          transition: all .55s;
          transform: translateY(0);
          opacity: 1;
          &:nth-child(1){transition-delay: .3s;}
          &:nth-child(2){transition-delay: .34s;}
          &:nth-child(3){transition-delay: .38s;}
          &:nth-child(4){transition-delay: .42s;}
          &:nth-child(5){transition-delay: .46s;}
        }
      }
    }

    &__nav-list {
      padding: 0;
      flex-direction: column;
    }

    &__nav-btn-wrapper {
      display: block;
    }

    &__nav-btn, &__nav-bg {
      visibility: visible;
    }
  }
}
