// colours
$black: #131416;
$red: #F0224F;
$raspberry: #D52A73;
$gradient: linear-gradient(45deg, rgba(240,34,79,1) 0%, rgba(213,42,115,1) 100%);
$textonblack: #BCBDBD;
$textonwhite: #616263;
$border: #494A4D;

// $black: #1D1E21;

// breakpoints
$xl: 1200px;
$l: 960px;
$m: 750px;
$s: 600px;
$xs: 500px;
$xxs: 400px;
